<!DOCTYPE html>
<html>
    <body>
        
    </body>
</html>




<h1 class="large-heading">
    Title
</h1>

hi.large-heading {
    font-size: 200%;
}

<h2 id="big-blue" class="large blue">
    Title
</h2>

#big-blue.large.blue {
    color: blue;
    font-size: 200%;
}

