@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wdth,wght@6..144,109.4,700&display=swap');

@font-face {
    font-family: "Satisfaction";
    src: url(fonts/Satisfaction.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.marry-text {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 109.4,
    "GRAD" 0,
    "ROND" 0;
}

.marry-img {
    margin: 2.5em 0 0 0;
    width: 70vw;
}

* {
    box-sizing: border-box;
    font-family: Alan Sans;
    color: #515151
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding:.5em;
    color: whitesmoke;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid whitesmoke;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(128, 128, 128, 0.404);
}

.main-header {
    background-color: rgba(198, 170, 170, 0.74);
    background-image: url(imgs/header_background.webp); 
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.TS-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Satisfaction";
    font-weight: normal;
    color: whitesmoke;
    padding-top: 2%;
}

.TS-name-large {
    font-size: 5em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: normal;
    color: rgb(62, 62, 62);
    text-align: center;
    font-size: 2em;
}

.about-img {
    float: left;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1% 2%;
}

.main-footer {
    background-color: pink;
    color: whitesmoke;
    padding: .25em 0 ;
    
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.main-footer-container .TS-name {
    font-size: 2em;
}

.footer-nav img {
    width: 20px;
    height: 20px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.marry-text {
    font-size: 2em;
    font-weight: lighter;
    color: pink;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-play {
    display: block;
    margin: 0 2em;
    font-size: 2em;
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
}

.main-header .song-container ul {
    margin-top: 3em;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.tour-row {
    border-bottom: 1px solid #515151;
    padding-bottom: 1em;
    margin: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;

}

.tour-date {
    color: #454545;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    color: whitesmoke;
    background-color: pink;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(250, 178, 190);
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.shop-item-img {
    height: 250px;
    width: auto;
    display: block;    
    margin: 0 auto;    
    
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;   
    margin-top: 10px;
}

.shop-item-price {
    flex-grow: 1;

}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    
}

.cart-header.cart-column-item, .cart-header.cart-column-price, .cart-header.cart-column-quantity {
    display: inline;
    text-align: center;
    border-bottom: 3px solid;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-column-item {
    width: 50%;
}

.cart-column-price {
    width: 25%;
}

.cart-column-quantity {
    width: 25%;
}

.cart-row {
  display: flex;
}

.cart-column-item {
  flex: 4.5;
}

.cart-column-price {
  flex: 1;
}

.cart-column-quantity {
  flex: 1;
}

.cart-item-title {
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-img {
    width: 100px;
    height: auto;
    
}

.btn-danger {
    color: whitesmoke;
    background-color: pink;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgba(128, 128, 128, 0.404);
    color: black;
    text-align: center;
    margin-right: 20px;
}

.cart-row:last-child {
    border-bottom: 1px solid;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 20px;
}

.cart-total-price {
    margin-top: 20px;
    font-size: 1.3em;
}

.purchase {
    display: flex;
    justify-content: end;
}

.purchase-warning {
    font-size: 1.5em;
    color: rgb(221, 65, 65);
    padding-right: 1em ;
}

.btn-purchase {
    background-color: palevioletred;;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.2em;
}
